@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root{
    --off-white: #FDFDFC;
    --my-yellow: #FFE9B1;
    --my-orange: #FBC471;
    --light-blue: #B9E3FC;
    --light-blue-hover: #E7F5FE;
    --my-blue: #749DF5;
    --dark-blue: #355BBA;
    --my-stroke:#7E4C52;
    scroll-behavior:smooth;
    
}

body{
    background: var(--off-white);
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

nav{
    backdrop-filter: blur(200px);
}

.nav-item:hover{
    background-color: var(--light-blue-hover);
}

.my-work{
    background-color: var(--light-blue);
}

#work-1,#work-2, #work-3, #work-4{
    background-color: var(--off-white);
}

.card{
    border-radius: 90rem;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    margin: 1rem;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.illustrations-gallery{
    margin: auto;
}

.carousel{
    max-width: 31.25rem;
    margin: auto;
}

.carousel-item{
    max-width: 31.25rem;
    padding:1rem;
}

footer{
    margin-top: 5rem;
    /* background: var(--light-blue); */
}

footer p{
    color: #ADADAD;
}

/* CSS */
.my-button {
  background-color: var(--dark-blue);
  border-radius: 5rem;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0.1px 0 0 inset;
  box-sizing: border-box;
  color: var(--dark-blue);
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.my-button:hover,
.my-button:focus {
  background-color: var(--light-blue-hover);
  color: #2c5777;
}

.my-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.drop-shadow{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.my-button:active {
  background-color: var(--my-blue);
  box-shadow: none;
  color: #2c5777;
}

.btn-back-to-top {
    background-color: var(--dark-blue);
    fill: var(--dark-blue);
    z-index: 1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
}

.btn-back-to-top:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.reverse-box {
    display: flex;
    flex-direction: row;
}

@media (min-width: 36rem) {

	.reverse-box {
        flex-direction: row-reverse;
    }

    .para{
        width:75%;
    }

    .pics{
        margin:auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        width: 75%;
    }

}


.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.para{
    margin:auto;
    margin-bottom: 1rem;
}

.pics{
    margin-top: 2rem;
}

.pics figcaption{
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 2rem;

}

.para-section{
    margin-bottom: 3rem;
}

.spacing{
    margin-bottom: 3rem;
}

#lny-display{
    margin: auto;
    max-height: 80vh;
}

#lny-display-modal{
    max-width:100%;
}

#resume-iframe{
    height: 65vh;
}

@media (min-width:24rem){
    #resume-iframe{
        /* width: 70%; */
        height: 60vh;
    }
}

@media (min-width:36rem){
    #resume-iframe{
        width: 60%;
        height:750px;
    }
}

@media (min-width:48rem){
    #resume-iframe{
        width: 60%;
        height:75vh;
    }
}

@media (min-width:50rem){
    #resume-iframe{
        width: 50%;
        height:95vh;
    }
}

.section-break{
    margin:30vh;
}

.hero-image{
    position:relative;
    width:100vw;
    height:100vh;
    object-fit: cover;
    display:flex;
    justify-content: center;
    align-items:center;

    /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}

@media (max-width:48rem){
    .hero-image{
        height:100vh;
    }
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color:var(--off-white);
}

.hero-column{
    text-align: center;
    position: absolute;
    margin: auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--off-white);
}

@media (min-width:48rem){
    .hero-column{
        display: flex;
        flex-wrap: wrap;
        justify-content: center!important;
        top: 60%;
        left: 50%;
        margin-left:auto;
        margin-right: auto;
    }
}



@media (max-width:50rem){
    .prototype{
        width: 70vw;
        margin-left:auto;
        margin-right: auto;
    }
}