:root{
    --off-white: #FDFDFC;
    --my-yellow: #FFE9B1;
    --my-orange: #FBC471;
    --light-blue: #B9E3FC;
    --light-blue-hover: #E7F5FE;
    --my-blue: #749DF5;
    --dark-blue: #355BBA;
    --my-stroke:#7E4C52;
}

body{
    background: var(--off-white);
}

nav{
    background: var(--light-blue);
}

.nav-item:hover{
    background-color: var(--light-blue-hover);
}

.my-work{
    background-color: var(--light-blue);
}

#work-1,#work-2, #work-3, #work-4{
    background-color: var(--off-white);
}

.card{
    border-radius: 90rem;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    margin: 1rem;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.illustrations-gallery{
    margin: auto;
}

.carousel{
    max-width: 31.25rem;
    margin: auto;
}

.carousel-item{
    max-width: 31.25rem;
    padding:1rem;
}

footer{
    background: var(--light-blue);
}


/* CSS */
.my-button {
  appearance: none;
  background-color: var(--light-blue);
  border-width: 0;
  box-sizing: border-box;
  border-radius: 5rem;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.my-button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  border-radius: 5rem;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.my-button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  text-decoration: none;
}

.my-button:after {
  background-color: var(--light-blue);
}

.my-button span {
  z-index: 1;
  position: relative;
}