:root{
    --off-white: #FDFDFC;
    --my-yellow: #FFE9B1;
    --my-orange: #FBC471;
    --light-blue: #B9E3FC;
    --my-blue: #749DF5;
    --dark-blue: #355BBA;
    --my-stroke:#7E4C52;
}

body{
    background: var(--off-white);
}

footer{
    background: var(--light-blue);
}