:root{
    --off-white: #FDFDFC;
    --my-yellow: #FFE9B1;
    --my-orange: #FBC471;
    --light-blue: #B9E3FC;
    --light-blue-hover: #E7F5FE;
    --my-blue: #749DF5;
    --dark-blue: #355BBA;
    --my-stroke:#7E4C52;
}

*{
    /* color: var(--my-stroke); */
    font-family: 'Montserrat', sans-serif;
}

a{
    color:inherit;
    color:transparent;
}

h1,h2,h3{
    font-family: 'Lexend', sans-serif;
}

.hashtags p{
    color:var(--my-blue);
}

/* FOOTER TEXT*/
footer h3{
    color:var(--dark-blue);
}

.contact-text{
    color:var(--dark-blue);
}

footer p{
    color:var(--dark-blue);
}