:root{
    --off-white: #FDFDFC;
    --my-yellow: #FFE9B1;
    --my-orange: #FBC471;
    --light-blue: #B9E3FC;
    --my-blue: #749DF5;
    --dark-blue: #355BBA;
    --my-stroke:#7E4C52;
}

*{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3{
    font-family: 'Lexend', sans-serif;
}


/* FOOTER TEXT*/
footer h3{
    color:var(--dark-blue);
}

.contact-text{
    color:var(--dark-blue);
}

footer p{
    color:var(--dark-blue);
}