:root{
    --off-white: #FDFDFC;
    --yellow: #FFE9B1;
    --orange: #FBC471;
    --light-blue: #B9E3FC;
    --blue: #749DF5;
    --dark-blue: #355BBA;
}

body{
    background: var(--off-white);
}

.header{
    position:relative; 
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: var(--yellow);
}